{% extends 'layout.html' %}

{% block main %}

<ol class="breadcrumb">
  <li><a href="/admin">Home</a></li>
  <li><a href="/admin/category">Category Management</a></li>
</ol>

<h4>Category Delete - {{category.name}}</h4>

<div class="alert alert-warning" role="alert">Do you want to delete {{category.name}} ?</div>

<a href="/admin/category/delete?id={{category._id.toString()}}&confirm=true" class="btn" style="color:red;width:10rem;border:1px solid red">Yes</a>
<a href="/admin/category" class="btn"  style="color:#54FF9F;border:1px solid #54FF9F;width:10rem">No,Thanks</a>


{% endblock %}