{% extends 'layout.html' %}

{% block button %}

    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 navModules">
        <button class="btn active">
            <a href="/">Home</a>
        </button>  
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 navModules">
        <button class="btn">
            <a href="/blog" >Blog</a>
        </button>  
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 navModules">
        <button class="btn">
            <a href="/show" >Show</a>
        </button>  
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 navModules">
        <button class="btn">
            <a href="/about" >About</a>
        </button>  
    </div>

{% endblock %}

{% block main %}

<div class="container-fiuld homeSection">
    <div class="homeBK"></div>
</div>

<div class="container-fiuld homeFooter">
    <p>Thank you for leaving your footprints</p>
    <p>I'm Vin</p>
    <p>Who are you</p>
</div>


{% endblock %}
